@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
#__next {
  height: 100%;
}

html {
  overflow-x: hidden;
}

:root {
  --color-primary: 243;
  --color-secondary: 213;
  --color-accent: 37;
  --max-content-width: 78rem;
}

html.dark {
  color-scheme: dark;
  --color-primary: 37;
  --color-secondary: 17;
  --color-accent: 227;
}

body {
  @apply transition-colors bg-white dark:bg-gray-900 text-slate-800/80 dark:text-slate-100/80;
}
