@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
#__next {
  height: 100%;
}

:root {
  --color-primary: 233;
  --color-secondary: 203;
  --color-accent: 173;
}

html.dark {
  color-scheme: dark;
  --color-primary: 13;
  --color-secondary: 43;
  --color-accent: 73;
}

body {
  @apply transition-colors bg-white dark:bg-gray-900;
}
