@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
#__next {
  height: 100%;
}

:root {
  --color-primary: 243;
  --color-secondary: 277;
  --color-accent: 311;
}

html.dark {
  color-scheme: dark;
  --color-primary: 332;
  --color-secondary: 302;
  --color-accent: 272;
}

body {
  @apply transition-colors bg-white dark:bg-black;
}
